.loader {
    border: .25em solid #aaa;
    width: 1.5em;
    height: 1.5em;
    border-top: .25em solid #111;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }